{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3">Inbox</h4>
                <div data-simplebar style="max-height: 334px;">
                    <div class="inbox-wid">
                        <a href="#" class="text-dark">
                            <div class="inbox-item">
                                <div class="inbox-item-img float-start me-3"><img
                                        src="assets/images/users/avatar-1.jpg"
                                        class="avatar-md rounded-circle" alt=""></div>
                                <h6 class="inbox-item-author mb-1 text-dark">Irene</h6>
                                <p class="inbox-item-text text-muted mb-0">Hey! there I'm
                                    available...</p>
                                <p class="inbox-item-date text-muted">13:40 PM</p>
                            </div>
                        </a>
                        <a href="#" class="text-dark">
                            <div class="inbox-item">
                                
                                <h6 class="inbox-item-author mb-1 text-dark">Jennifer</h6>
                                <p class="inbox-item-text text-muted mb-0">I've finished it! See
                                    you
                                    so...</p>
                                <p class="inbox-item-date text-muted">13:34 PM</p>
                            </div>
                        </a>
                     
                        <a href="#" class="text-dark">
                            <div class="inbox-item">
                                
                                <h6 class="inbox-item-author mb-1 text-dark">Jennifer</h6>
                                <p class="inbox-item-text text-muted mb-0">I've finished it! See
                                    you
                                    so...</p>
                                <p class="inbox-item-date text-muted">13:34 PM</p>
                            </div>
                        </a>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Col -->

    <!-- End Col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Top product sales</h4>
                <div class="table-responsive">
                    <table class="table table-hover align-middle mb-0">
                        <tbody>
                            <tr>
                                <td>
                                    <h5 class="font-size-16">Computers</h5>
                                    <p class="text-muted mb-0">The languages only differ</p>
                                </td>
                                <td>
                                    <div>
                                        <span class="peity-pie"
                                            data-peity='{ "fill": ["#f16c69", "#f2f2f2"]}'
                                            data-width="54" data-height="54">70/100</span>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="font-size-16">70%</h5>
                                    <p class="text-muted mb-0">Sales</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-size-16">Laptops</h5>
                                    <p class="text-muted mb-0">Maecenas tempus tellus</p>
                                </td>
                                <td>
                                    <div>
                                        <span class="peity-donut"
                                            data-peity='{ "fill": ["#35a989", "#f2f2f2"], "innerRadius": 20, "radius": 32 }'
                                            data-width="54" data-height="54">9,4</span>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="font-size-16">84%</h5>
                                    <p class="text-muted mb-0">Sales</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-size-16">Ipad</h5>
                                    <p class="text-muted mb-0">Donec pede justo</p>
                                </td>
                                <td>
                                    <div>
                                        <span class="peity-pie"
                                            data-peity='{ "fill": ["#1b82ec", "#f2f2f2"]}'
                                            data-width="54" data-height="54">62/100</span>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="font-size-16">62%</h5>
                                    <p class="text-muted mb-0">Sales</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-size-16">Mobile</h5>
                                    <p class="text-muted mb-0">Aenean leo ligula</p>
                                </td>
                                <td>
                                    <div>
                                        <span class="peity-donut"
                                            data-peity='{ "fill": ["#35a989", "#f2f2f2"], "innerRadius": 20, "radius": 32 }'
                                            data-width="54" data-height="54">20,4</span>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="font-size-16">89%</h5>
                                    <p class="text-muted mb-0">Sales</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Col -->
</div>
{% endblock %}