{% extends 'base.html' %}
{% block content %}
<style>
    #picture-preview img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-home bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Create New User</h5>
                    <span>any border must have a user profile to identfie</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card">
                            <div class="card-header">
                                <h5>Basic Inputs Validation</h5>
                                <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
                            </div>
                            <div class="card-block">
                                <form id="main" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="borderGeneratedId">Border GeneratedID</label>
                                        <input type="text" class="form-control" required name="borderGeneratedId"
                                            id="borderGeneratedId" value="{{generatedUserId}}"
                                            placeholder="Enter your ID card number">
                                        <span class="messages"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="theUser">The User</label>
                                        <select name="theUser" class="form-control" required>
                                            {% for user in allUsers %}
                                            <option value="{{user.id}}">{{user.fullName}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="idCardNo">ID Card Number</label>
                                        <input type="text" class="form-control" required name="idCardNo" id="idCardNo"
                                            placeholder="Enter your ID card number">
                                    </div>
                                    <div class="form-group">
                                        <label for="enteringDate">Entering Date</label>
                                        <input type="datetime-local" class="form-control" required name="enteringDate"
                                            id="enteringDate">
                                    </div>
                                    <div class="form-group">
                                        <label for="reasonFor">ReasonFor</label>
                                        <select name="reasonFor" id="reasonFor" class="form-control" required>

                                            <option value="Medical" selected>Medical</option>
                                            <option value="Tourisim">Tourisim</option>
                                            <option value="Tourisim">Education</option>
                                            <!-- <option value="jibuti">Jibouti</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Etheiobia">Etheiobia</option> -->
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="userAddress">Address</label>
                                        <input type="text" class="form-control" name="userAddress" id="userAddress"
                                            placeholder="Enter your address">
                                    </div>
                                    <div class="form-group">
                                        <label for="nationality">Nationality</label>
                                        <select name="nationality" id="nationality" class="form-control" required>

                                            <option value="Somalia" selected>Somalia</option>
                                            <option value="Somali-Land">Somali-Land</option>
                                            <option value="Angola">Angola</option>
                                            <!-- <option value="jibuti">Jibouti</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Etheiobia">Etheiobia</option> -->
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="expireDate">Expiration Date</label>
                                        <input type="datetime-local" class="form-control" name="expireDate"
                                            id="expireDate">
                                    </div>
                                    <div class="form-group">
                                        <label for="userLandedType">User Landed Type</label>
                                        <select name="userLandedType" id="userLandedType" class="form-control" required>

                                            <option value="By Flight">By Flight</option>
                                            <option value="By Train">By Train</option>
                                            <option value="By Bus">By Bus</option>
                                            <!-- Add more options if needed -->
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="borderCurrentState">Border Current State</label>
                                        <select name="borderCurrentState" id="borderCurrentState" class="form-control"
                                            required>
                                            <option value="In" selected>In The Country</option>

                                            <!-- Add more options if needed -->
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    const form = document.querySelector('#main');
    const submitButton = form.querySelector('button[type="submit"]');


    form.addEventListener('submit', (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        // Disable submit button and show spinner
        submitButton.disabled = true;
        submitButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...';
        fetch('/api/border/', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Show success message using SweetAlert
                swal({
                    title: 'Success!',
                    text: 'Your form has been submitted successfully.',
                    icon: 'success'
                });
                location.reload()
            })
            .catch(error => {
                console.error(error);
                // Show error message using SweetAlert
                swal({
                    title: 'Error!',
                    text: 'There was an error submitting your form. Please try again later.',
                    icon: 'error'
                });
            })
            .finally(() => {
                // Enable submit button and reset text
                submitButton.disabled = false;
                submitButton.innerHTML = 'Submit';
            });
    });
</script>
{% endblock %}